$font: Verdana, Arial, Helvetica, sans-serif;
$border-color: #000;
$title-color: #af6eb7;
$title-color-2: #7c3a85;
$content-color: #d4afdb;
$content-color-2: #ffffff;

body {
    background-color: #fff;
    color: #000;
    margin: 0;
    font-family: $font;
    font-size: 12px
}

div, td {
    font-size: 12px
}

video {
    max-width: 100%;
}

a:active,a:link,a:visited {
    color: #1f40a0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
	margin: 0;
}

h1 { font-size: 19px; }

h2 { font-size: 16px; }

h3 { font-size: 14px; }

h4 { font-size: 12px; }

h5 { font-size: 10px; }

h6 { font-size: 10px; }

img {
    border: 0; // ie6 and ff 0.8 put borders by default for a stupid reason
}

hr {
    border: 0;
    border-top: 1px solid $border-color;
}

form {
    margin: 0;
}

// essentials
.textSmall {
    font-size: x-small;
}

.avatar {
    border: 1px solid $border-color;
}

.input {
    margin-bottom: 10px;
}

.titleBg {
    background-color: $title-color;
    color: white;
    font-weight: bold;
}

.titleBgDark {
    background-color: $title-color-2;
    color: white;
    font-weight: bold;
}

.contentBg {
    background-color: $content-color;
}

.contentBgWhite {
    background-color: $content-color-2;
}

.tableBg {
    background-color: $border-color;
}

.center {
    text-align: center;
}

// header and footer

.header {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-bottom: 10px;
}

.headerLogo {
    // in my testing this works on firefox 0.8, but not ie 6 or opera 7.50.
    &:hover {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
}

.headerLinks {
    a:active,a:link,a:visited {
        color: #000
    }

    a {
        font-size: 14px;
        font-weight: bold;
        &:hover {
            color: #1f40a0;
        }
    }

    &.alignedLeft {
        a {
            margin-right: 15px;
        }
    }

    &.alignedRight {
        a {
            margin-left: 15px;
        }
    }
}

.footer {
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 15px 0;
}

// index
.introduction {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
}

.submission {
    margin-bottom: 1px;

    .submissionThumb {
        border: 1px solid #666;
        margin-right: 10px;
    }

    .submissionTitle {
        font-size: 16px;
        font-weight: bold;
    }

    .submissionDescription {
        margin-bottom: 2px;
    }

    .submissionDetails {
        font-size: 12px;
        color: #888;
    }
}

// view page
.submissionLayout {
    .submissionTitle {
        font-size: 16px;
        font-weight: bold;
    }

    .submissionDescription {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}