{% extends "components/template.twig" %}

{% block content %}
    <div class="row">
        {% for upload in uploads %}
            <div class="col-sm-6 col-md-4">
                <a href="view?id={{ upload.display_id }}">
                    <div class="thumbnail">
                        <img src="img/default.png">
                        <div class="caption">
                            <h3>{{ upload.title }}</h3>
                            <p>
                                {% if upload.description %}
                                    {{ upload.description|length > 200 ? upload.description|slice(0, 200) ~ '...' : upload.description  }}
                                {% else %}
                                    No description.
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
