{% extends "components/template.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% if submission.type == "video" %}
            <video src="/dynamic/qobo_test.mp4" width="100%" height="auto" controls></video>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{ submission.title }}</h1>
                <img src="/img/avatar.png" width="64">
                <div>
                    Posted on {{ submission.published | date('F j, Y') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
