# Composer
vendor/
composer.phar
composer.lock

# Compiled SCSS
/public/img/poktube.css
/public/img/qobo.css

# Source maps
/public/img/poktube.css.map
/public/img/qobo.css.map

# Config
/config/config.php

# MariaDB Data
/docker/mariadb-data

# Video flash player (the swf should be manually copied to img for now)
/flash/player.html
/flash/player.swd
/flash/player.swf