{% extends "components/template.twig" %}

{% block content %}
<table width="800" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
			<td>
				<div>
					<h1>Introducing Qobo: Your Hub for Multimedia Magic!</h1>
					<p>Share your creative masterpieces with ease - whether it's artwork, music, or videos!</p>
				</div>
				<p>(add more later)</p>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}