.headertext {
	color: #FFFFFF !important; 
}

/* The alert message box */
.alert {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  background-color: #f44336; /* Red */
  color: white;
  margin: 15px;
  vertical-align: baseline;
}

.alert:hover {
  background-color: #f03c30; /* Red */
} 

body {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
	background-color: #FFFFFF;
	color: #222222;
	margin: 0px;
}

a:link, a:visited, a:active {
    color: #123BB7;
}

td {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
}

.small {
	font-size: 10px;
}

.label {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
	font-weight: bold;
	color: #222222;
}

.title {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 16px;
	font-weight: 700;
	color: #003366;
}

.title_login {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
}

a.title:link {font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */ color: #CCFFFF; font-size: 12px; font-weight: bold;}
a.title:active {font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */ color: #CCFFFF; font-size: 12px; font-weight: bold;}
a.title:visited {font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */ color: #CCFFFF; font-size: 12px; font-weight: bold;}
a.title:hover {font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */ color: #CCFFFF; font-size: 12px; font-weight: bolder;}

.table_top {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
	font-weight: 700;
	color:#333333;
}

.bold {
	font-weight: bold;
}

.highlight {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 14px;
	font-weight: 700;
	color: #333333;
}

.nav {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 14px;
	font-weight: 700;
}

.nav_sub {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 13px;
	font-weight: 400;
}

.footer {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 11px;
	color: #111111;
}

.success {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 14px;
	font-weight: 700;
	color: #333333;
}

.error {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 14px;
	font-weight: 700;
	color: #FF0000;
}

.bodystyle {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
}

/* Modules */

.moduleEntrySelected, .moduleEntry:hover {
	background-image: url(/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-color: #FFFFCC;
	background-position: left top;
	border-bottom: 1px dashed #999999;
	padding: 10px;
}

.moduleEntry {
	background-color: #DDD;
	background-image: url(/img/table_results_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	padding: 10px;
}

.moduleEntry_alt:hover {
	background-color: #FFFFCC;
	background-image: url(/img/table_results_selected_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	border-right: 1px dashed #999999;
	padding: 10px;
}

.moduleEntry_alt {
	background-color: #DDD;
	background-image: url(/img/table_results_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	border-right: 1px dashed #999999;
	padding: 10px;
}

.moduleEntryThumb {
	border: 5px solid #FFFFFF;
	margin-right: 10px;
}

.moduleEntryTitle {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	color: #333333;
}

.moduleEntryDescription {
	font-size: 12px;
	margin-bottom: 6px;
	color: #333;
	padding-right: 10px;

}

.moduleEntryTags {
	font-size: 12px;
	margin-bottom: 5px;
	color: #444;
}

.moduleEntryDetails {
	font-size: 11px;
	margin-bottom: 5px;
	color: #444;
}

.moduleTitle {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 5px 5px;
	color: #444;
}

.moduleTitleBar {
	width: 100%;
	background-color: #CCC;
	border-bottom: 1px dashed #999;
}

.moduleFeatured {
	background-color: #DDD;
	background-image: url(/img/table_results_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	padding: 5px 5px 15px 5px;
}

.moduleFeaturedThumb {
	border: 5px solid #FFFFFF;
	margin: 5px;
}

.button {
    padding: 2px 12px;
}

.moduleFeaturedTitle {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 3px;
	color: #0033CC;
	
}

.moduleFeaturedDetails {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	margin-bottom: 3px;
}

.moduleFrameBarTitle {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 5px 5px 5px;
	color: #444;
}

.moduleFrameEntrySelected, .moduleFrameEntry:hover {
	width: 270;
	background-color: #FFFFCC;
	background-image: url(/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom: 1px dashed #999999;
	padding: 8px;
}

.moduleFrameEntry {
	width: 270;
	background-color: #DDD;
	background-image: url(/img/table_results_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	padding: 8px;
}

.moduleFrameTitle {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 3px;
	color: #0033CC;
	
}

.moduleFrameDetails {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 10px;
	font-weight: normal;
	margin-bottom: 5px;
	color: #666666;
	
}
.tableFavRemove {
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 5px;
	
}

.tableVideoStats {
	width: 100%;
	background-image: url(/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-color: #FFFFCC;
	background-position: left top;
	border: 1px dashed #CCCC66;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tableSubTitle {
	padding: 0px 0px 5px 0px;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #CC6633;
}

.tableSubTitleInfo {
	font-size: 12px;
	padding: 3px;
	padding-left: 10px;
}



/* Form Elements */

.formTitle {
	padding: 4px;
	padding-left: 7px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background-color: #E5ECF9;
	border-bottom: 1px dashed #3366CC;
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 14px;
	font-weight: bold;
}

.formTable {
	width: 80%;
	padding: 5px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.formIntro {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 15px;
	padding-left: 10px;
}

.formHighlight {
	background-image: url(/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-color: #FFFFCC;
	background-position: left top;
	border: 1px dashed #CCCC66;
	padding: 7px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.formHighlightText {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 11px;
	font-weight: normal;
	color: #666633;
	margin-top: 5px;
	margin-left: 6px;
}

.formFieldInfo {
	font-size: 11px;
	color: #555555;
	margin-top: 5px;
	margin-bottom: 5px;
}



/* Page Elements */

.pageTitle {
	padding: 4px;
	padding-left: 7px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-color: #E5ECF9;
	border-bottom: 1px dashed #3366CC;
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 14px;
	font-weight: bold;
}

.pageTable {
	padding: 0px 5px 0px 5px;
	margin-bottom: 20px;
}

.pageText {
	padding: 0px 5px 0px 5px;
}

.pageIntro {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 15px;
}

/* Mail Elements */

.mailMessageArea {
	background-color: #FFFFFF;
	border: 1px dashed #999999;
	padding: 7px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}



/* Watch Elements */


.watchTitleBar {
	background-color: #CCCCCC;
	border-bottom: 1px dashed #999999;
}

.watchTitle {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 13px;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 6px;
	color: #333333;
	
}

.watchTable {
	background-color: #DDDDDD;
	background-image: url(/img/table_results_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom: 1px dashed #999999;
	padding: 5px;
	padding-bottom: 10px;
	text-align: center;
}

#flashcontent {
	background-color: #FFFFFF;
	width: 425px;
	height: 350px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #CCC;
}

.watchInfoArea {
	width: 395px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color:#FFFFFF;
}

.watchDescription {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
	padding-bottom: 5px;
	color: #000;
	border-bottom: 1px dashed #CCC;
}

.header1 {
	background-image: url(/img/header.gif);
}

.header2 {
	background-image: url(/img/subheader.gif);
}

.watchTags {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 12px;
	margin: 5px 0px 10px 0px;
	color: #333333;
}

.watchAdded {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 11px;
	margin-bottom: 5px;
	color: #333333;
}

.watchDetails {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.commentsTitle {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* jesus christ this code dates from 2020 and was on 2003page */
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #EEEEEE;
	padding: 5px;
	padding-bottom: 6px;
	border-top: 1px dashed #999999;
	border-bottom: 1px dashed #999999;

}

.commentsEntry {
	font-size: 11px;
	background-color: #FFFFCC;
	padding: 10px;
	border-bottom: 1px dashed #999999;
}

.commentsThumb {
	border: 5px solid #FFFFFF;
	margin-right: 5px;
}

.profileLabel {
	font-size: 12px;
	font-weight: bold;
	color:#DD8833;
	margin: 10px 0px 2px 0px;
}

/* Code Elements */

.codeArea {
	background-color: #FFFFFF;
	border: 1px dashed #999999;
	padding: 7px;
	margin-bottom: 15px;
}

.apiLabel {
	background-color: #E5ECF9; 
	margin-top: 20px; 
	margin-bottom: 10px; 
	padding-left: 10px; 
	padding-right: 10px; 
	padding-top: 10px; 
	padding-bottom: 10px;
}