{% extends "components/template.twig" %}

{% block content %}
<table width="790" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody><tr valign="top">
		<td style="padding-right: 15px;">
		
		<table width="595" cellspacing="0" cellpadding="0" border="0" bgcolor="#E5ECF9" align="center">
			<tbody><tr>
				<td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
				<td width="100%"><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
				<td style="padding: 5px 0px 10px 0px;">
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody><tr valign="top">
					<td style="border-right: 1px dashed #369; padding: 0px 10px 10px 10px; color: #444;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;"><a href="my_videos_upload.php">Upload</a></div>
					Quickly upload and tag your works in any common format.
					</td>
					<td style="border-right: 1px dashed #369; padding: 0px 10px 10px 10px; color: #444;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;"><a href="browse.php">Watch</a></div>
					Instantly find and watch 100's of other people's works.
					</td>
					<td style="padding: 0px 10px 10px 10px; color: #444;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;"><a href="my_friends_invite.php">Share</a></div>
					Easily share your works with family, friends, or co-workers.
					</td>
					</tr>
				</tbody></table>
				
				</td>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table><br>
		
		<table width="595" cellspacing="0" cellpadding="0" border="0" bgcolor="#CCCCCC" align="center">
			<tbody><tr>
				<td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
				<td width="100%"><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
				<td width="585">
				<div class="moduleTitleBar">
				<div class="moduleTitle"><div style="float: right; padding: 1px 5px 0px 0px; font-size: 12px;"><a href="browse.php">See More Videos</a></div>
				Today's Featured Videos
				</div>
				</div>
		
				
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=1cMc3n5-iqQ"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=1cMc3n5-iqQ" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=1cMc3n5-iqQ">Homage To The Real NorCal</a></div>
							<div class="moduleEntryDescription">It's described. As is above. A homage and tribute to the grand city of Martinez, and the future home of the new reality TV show.</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=Martinez">Martinez</a> : <a href="results.php?search=Real">Real</a> : <a href="results.php?search=NorCal">NorCal</a> : <a href="results.php?search=Awesome">Awesome</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 31, 2005 by <a href="profile.php?user=icer2k5">icer2k5</a></div>
							<div class="moduleEntryDetails">Views: 78 | Comments: 0</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=YXg505lgByA"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=YXg505lgByA" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=YXg505lgByA">walk #4 in prague</a></div>
							<div class="moduleEntryDescription">It's all so self-explanatory...</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=Prague">Prague</a> : <a href="results.php?search=museum">museum</a> : <a href="results.php?search=July">July</a> : <a href="results.php?search=2005">2005</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 30, 2005 by <a href="profile.php?user=cinemato">cinemato</a></div>
							<div class="moduleEntryDetails">Views: 47 | Comments: 1</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=FnmEjQfO8nk"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=FnmEjQfO8nk" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=FnmEjQfO8nk">Dewey1</a></div>
							<div class="moduleEntryDescription">Right ebfore the movies at Dewey Beach with Andrea, Evan, Ollie, and Coleman</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=The">The</a> : <a href="results.php?search=story">story</a> : <a href="results.php?search=of">of</a> : <a href="results.php?search=my">my</a> : <a href="results.php?search=life">life</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 30, 2005 by <a href="profile.php?user=nicolec28">nicolec28</a></div>
							<div class="moduleEntryDetails">Views: 51 | Comments: 0</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=GwJ8Cyjf-M4"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=GwJ8Cyjf-M4" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=GwJ8Cyjf-M4">Small Bird Eating Dragonfly</a></div>
							<div class="moduleEntryDescription">Small Bird Eating Dragonfly</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=Small">Small</a> : <a href="results.php?search=Bird">Bird</a> : <a href="results.php?search=Eating">Eating</a> : <a href="results.php?search=Dragonfly">Dragonfly</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 30, 2005 by <a href="profile.php?user=chariyc">chariyc</a></div>
							<div class="moduleEntryDetails">Views: 20 | Comments: 0</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=Lk2snIZhi3Y"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=Lk2snIZhi3Y" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=Lk2snIZhi3Y">Prague. Visiting Kafka</a></div>
							<div class="moduleEntryDescription">One day we were wandreing while talking and found Kafka's house.</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=Kafka">Kafka</a> : <a href="results.php?search=Prague">Prague</a> : <a href="results.php?search=July">July</a> : <a href="results.php?search=2005">2005</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 30, 2005 by <a href="profile.php?user=cinemato">cinemato</a></div>
							<div class="moduleEntryDetails">Views: 110 | Comments: 0</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=uWjBYHxRlIk"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=uWjBYHxRlIk" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=uWjBYHxRlIk">Athena Swim Dunk</a></div>
							<div class="moduleEntryDescription">Athena Swim Dunk</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=Athena">Athena</a> : <a href="results.php?search=Swim">Swim</a> : <a href="results.php?search=Dunk">Dunk</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 30, 2005 by <a href="profile.php?user=mel171103kev">mel171103kev</a></div>
							<div class="moduleEntryDetails">Views: 100 | Comments: 1</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=fgJANz7-6Xc"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=fgJANz7-6Xc" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=fgJANz7-6Xc">RAID French SWAT</a></div>
							<div class="moduleEntryDescription">French SWAT K9</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=police">police</a> : <a href="results.php?search=dog">dog</a> : <a href="results.php?search=K9">K9</a> : <a href="results.php?search=training">training</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 30, 2005 by <a href="profile.php?user=solimini">solimini</a></div>
							<div class="moduleEntryDetails">Views: 113 | Comments: 0</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=-aDOl3aU_qM"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=-aDOl3aU_qM" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=-aDOl3aU_qM">ironshirt</a></div>
							<div class="moduleEntryDescription">demonstration of iron body technique performed by my Sifu Glen Bullock</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=kung">kung</a> : <a href="results.php?search=fu">fu</a> : <a href="results.php?search=shaolin">shaolin</a> : <a href="results.php?search=staff">staff</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 30, 2005 by <a href="profile.php?user=munkierevolution">munkierevolution</a></div>
							<div class="moduleEntryDetails">Views: 94 | Comments: 1</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=Zxln8qwJazc"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=Zxln8qwJazc" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=Zxln8qwJazc">Loser</a></div>
							<div class="moduleEntryDescription">Yeah If your like I can't here anything I know lol Im not saying anything....... lol I say Loser but then I don't lol Whatever you'll see....</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=Loser">Loser</a> : <a href="results.php?search=july">july</a> : <a href="results.php?search=bored">bored</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 29, 2005 by <a href="profile.php?user=Taikowa">Taikowa</a></div>
							<div class="moduleEntryDetails">Views: 172 | Comments: 3</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
					
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="index.php?v=KrOLEHV4wv4"><img src="/web/20050801004953im_/http://www.youtube.com/get_still.php?video_id=KrOLEHV4wv4" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="index.php?v=KrOLEHV4wv4">Switch #1 - Blogs</a></div>
							<div class="moduleEntryDescription">For several years I hosted the SXSW web awards. And each year I would put together video shorts to spice up the show.
<br>

<br>
Some of my favorites were these Switch Parodies. But since it was for the SXSW Interactive Festival, my “mac-like” testiminials were why to switch from analog to digital.</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=switch">switch</a> : <a href="results.php?search=blogs">blogs</a> : <a href="results.php?search=halcyon">halcyon</a> : <a href="results.php?search=mac">mac</a> : 							</div>
							<div class="moduleEntryDetails">Added: July 29, 2005 by <a href="profile.php?user=cockybastard">cockybastard</a></div>
							<div class="moduleEntryDetails">Views: 107 | Comments: 1</div>
							</td>
						</tr>
					</tbody></table>
					</div>
					
									
				</td>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>

		
		</td>
		<td width="180">
		
		<table width="180" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFEEBB" align="center">
			<tbody><tr>
				<td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
				<td width="170">
		
								
				<div style="font-size: 16px; font-weight: bold; text-align: center; padding: 5px 5px 10px 5px;"><a href="signup.php">Sign up for your free account!</a></div>
				
								
				</td>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>
		
		<div style="margin: 10px 0px 5px 0px; font-size: 12px; font-weight: bold; color: #333;">Recent Tags:</div>
		<div style="font-size: 13px; color: #333333;">
		
				
			<a style="font-size: 17px;" href="results.php?search=dansen">dansen</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=strength">strength</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=spine">spine</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=deal">deal</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=represores">represores</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=shaun">shaun</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=with">with</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=smash">smash</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=vierdaagse">vierdaagse</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=mensen">mensen</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=vet">vet</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=pearce">pearce</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=winson">winson</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=martinez">martinez</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=logo">logo</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=fish">fish</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=fly">fly</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=tara">tara</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=psa">psa</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=old">old</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=ekkelo">ekkelo</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=stunt">stunt</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=hi5">hi5</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=arch">arch</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=nurhaliza">nurhaliza</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=school">school</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=louis">louis</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=iu">iu</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=mayhem">mayhem</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=intocht">intocht</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=saint">saint</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=funny">funny</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=cnt">cnt</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=baby">baby</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=shaup">shaup</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=wielen">wielen</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=jason">jason</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=gladiolen">gladiolen</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=smile">smile</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=taak">taak</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=six">six</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=paintballs">paintballs</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=wander">wander</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=audley">audley</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=wee">wee</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=2005">2005</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=band">band</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=tuyt">tuyt</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=fiets">fiets</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=good">good</a> :
		
					
		<div style="font-size: 14px; font-weight: bold; margin-top: 10px;"><a href="tags.php">See More Tags</a></div>
		
		</div>
		
		</td>
	</tr>
</tbody></table>
{% endblock %}