{% extends "components/template.twig" %}

{% block content %}
<script>

function CheckLogin()
{
	
		alert("You must be logged in to to perform this action!");
		return false;

		
	return true;
}

function FavoritesHandler()
{
	if (CheckLogin() == false)
		return false;

	alert("Video has been added to Favorites!");
	return true;
}

function CommentHandler()
{
	if (CheckLogin() == false)
		return false;

	var comment = document.comment_form.comment;
	var comment_button = document.comment_form.comment_button;

	if (comment.value.length == 0 || comment.value == null)
	{
		alert("You must enter a comment!");
		comment.focus();
		return false;
	}

	if (comment.value.length > 500)
	{
		alert("Your comment must be shorter than 500 characters!");
		comment.focus();
		return false;
	}

	comment_button.disabled='true';
	comment_button.value='Thanks for your comment!';

	return true;
}
</script>

<table width="790" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody><tr valign="top">
		<td style="padding-right: 15px;" width="510">

		<div class="tableSubTitle">Money, get a way!</div>
		
		<div style="padding: 0px 0px 10px 0px;">
		<table width="495" cellspacing="0" cellpadding="0" border="0" bgcolor="#E5ECF9" align="center">
			<tbody><tr>
				<td><img src="img/box_login_tl.gif" width="5" height="5"></td>
				<td width="485"><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<form name="share_dropdown"></form>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
				<td align="center">
				<table cellspacing="0" cellpadding="0" border="0" align="center">
					<tbody><tr>
						<td style="padding-right: 5px; font-weight: bold;">Share Video With:</td>
						<td>
				
				<select name="jumpmenu" onchange="dropdown_jumpto(document.share_dropdown.jumpmenu.options[document.share_dropdown.jumpmenu.options.selectedIndex].value)">
					<option value="null">--- select ---</option>
		
					<option value="my_friends.php">Add Friends...</option>		
					<option value="mailto:?subject=Money, get a way!&amp;body=http://www.youtube.com/?v=EiBBudoC5iQ">E-mail...</option>
				</select>
						</td>
					</tr>
				</tbody></table>
				</td>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
				
			</tr>
			<tr>
				<td><img src="img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>
		</div>
		
		<div style="font-size: 12px; font-weight: bold; text-align:center;">
		<a href="#comment">Comment</a>
		&nbsp;&nbsp;//&nbsp;&nbsp; <a href="add_favorites.php?video_id=EiBBudoC5iQ" target="invisible" onclick="return FavoritesHandler();">Add to Favorites</a>
		&nbsp;&nbsp;//&nbsp;&nbsp; <a href="outbox.php?user=DeKku&amp;subject=Re: Money%2C+get+a+way%21">Contact Me</a>
		</div>
		
		<div style="text-align: center; padding-bottom: 10px;">
		<div id="flashcontent">
        <video width="400" height="300" controls>
        <source src="/dynamic/qobo_test.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video> 
		</div>
		</div>

		<table width="425" cellspacing="0" cellpadding="0" border="0" align="center">
			<tbody><tr>
				<td>
				
				<!--
				<script language="javascript" type="text/javascript" src="ratings.js"></script>
				<script>if (document.getElementById){document.write('<div style="text-align: center; padding-bottom: 5px;">');rating = new yg_Ratings("rating","",0,"star");document.write('</div>');} else {document.write('<div style="text-align: center; padding-bottom: 5px;">');document.write('1 Star <input type=radio name=rating value=\'1\'  ><input type=radio name=rating value=\'2\'  ><input type=radio name=rating value=\'3\'  ><input type=radio name=rating value=\'4\'  ><input type=radio name=rating value=\'5\'  > 5 Stars</div>');}</script>
				<noscript><div style="text-align: center; padding-bottom: 5px;"><input type=radio name=rating value='1'  ><input type=radio name=rating value='2'  ><input type=radio name=rating value='3'  ><input type=radio name=rating value='4'  ><input type=radio name=rating value='5'  ></div></noscript>
				-->
			
					<div class="watchDescription">This guy sure knows how to handle his coins...<br>
(Too bad for the broken glass ^.^)					<div class="watchAdded" style="margin-top: 5px;">
										</div>
					</div>
					<div class="watchTags">Tags // <a href="results.php?search=coin">coin</a> : <a href="results.php?search=dexterity">dexterity</a> : <a href="results.php?search=tricks">tricks</a> : 					</div>
			
								
					<div class="watchAdded">
					Added: July 16, 2005 by <a href="profile.php?user=DeKku">DeKku</a> //
					 Videos (<a href="profile_videos.php?user=DeKku">15</a>)
					 | Favorites (<a href="profile_favorites.php?user=DeKku">3</a>)
					 | Friends (<a href="profile_friends.php?user=DeKku">1</a>)
					</div>
			
					<div class="watchDetails">
					Views: 127030 | <a href="#comment">Comments</a>: 59					</div>

				</td>
			</tr>
		</tbody></table>
		
		<!-- watchTable -->
		
		<div style="padding: 15px 0px 10px 0px;">
		<table width="495" cellspacing="0" cellpadding="0" border="0" bgcolor="#E5ECF9" align="center">
			<tbody><tr>
				<td><img src="img/box_login_tl.gif" width="5" height="5"></td>
				<td width="485"><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<form name="linkForm" id="linkForm"></form>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
				<td align="center">
		
				<div style="font-size: 11px; font-weight: bold; color: #CC6600; padding: 5px 0px 5px 0px;">Share this video! Copy and paste this link:</div>
				<div style="font-size: 11px; padding-bottom: 15px;">
				<input name="video_link" type="text" onclick="javascript:document.linkForm.video_link.focus();document.linkForm.video_link.select();" value="http://www.youtube.com/?v=EiBBudoC5iQ" size="50" readonly="true" style="font-size: 10px; text-align: center;">
				</div>
				<div style="font-size: 11px; font-weight: bold; color: #CC6600; padding: 5px 0px 5px 0px;">Link to this video from your website! Copy and paste the following snippet:</div>
				<div style="font-size: 11px; padding-bottom: 15px;">
				<input name="video_embed" type="text" onclick="javascript:document.linkForm.video_embed.focus();document.linkForm.video_embed.select();" value="<iframe src=&quot;http://www.youtube.com/videos_list.php?id=EiBBudoC5iQ&quot; width=&quot;265&quot; height=&quot;175&quot; frameborder=&quot;0&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot;></iframe>" size="65" readonly="true" style="font-size: 10px; text-align: center;">
				</div>
				</td>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
				
			</tr>
			<tr>
				<td><img src="img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>
		</div>
		
		<a name="comment"></a>
		<div style="padding-bottom: 5px; font-weight: bold; color: #444;">Comment on this video:</div>

		<form name="comment_form" id="comment_form" method="post" action="add_comment.php" target="invisible" onsubmit="return CommentHandler();">
		<input type="hidden" name="video_id" value="EiBBudoC5iQ">

		<textarea name="comment" cols="55" rows="3"></textarea>
		<br>
		<input type="submit" name="comment_button" value="Add Comment">

		
		</form>
		<br>

		<div class="commentsTitle">Comments (59):</div>
		
		<div class="commentsEntry">"Ok people, anyone can do this. The glory of video is that you can edit it, and pick the good shots. I'm sure this took the guy many times to even get it make it in, and then all he had to do was edit it together. Let's see if he can do this in one full length shot, without cutting between shots....now go watch freestyle walking!"<br>
 - <a href="profile.php?user=cessax">cessax</a> // <a href="profile_videos.php?user=cessax">Videos</a> (6) | <a href="profile_favorites.php?user=cessax">Favorites</a> (0) | <a href="profile_friends.php?user=cessax">Friends</a> (0) - (4 days, 11 hours, 5 minutes ago)</div><div class="commentsEntry">"You should contact David Letteman!"<br>
 - <a href="profile.php?user=tasa7">tasa7</a> // <a href="profile_videos.php?user=tasa7">Videos</a> (0) | <a href="profile_favorites.php?user=tasa7">Favorites</a> (2) | <a href="profile_friends.php?user=tasa7">Friends</a> (0) - (9 days, 1 hour, 6 minutes ago)</div><div class="commentsEntry">"WTF!?!?!"<br>
 - <a href="profile.php?user=nightbringer90">nightbringer90</a> // <a href="profile_videos.php?user=nightbringer90">Videos</a> (3) | <a href="profile_favorites.php?user=nightbringer90">Favorites</a> (7) | <a href="profile_friends.php?user=nightbringer90">Friends</a> (1) - (10 days, 3 hours, 40 minutes ago)</div><div class="commentsEntry">"NNNIICE"<br>
 - (15 days, 4 hours, 22 minutes ago)</div><div class="commentsEntry">
					<table cellspacing="0" cellpadding="0" border="0">
					<tbody><tr valign="top">
					<td width="80">
					<div style="float: left;"><a href="watch.php?v=OSAaOEOGvYA"><img src="get_still.php?video_id=OSAaOEOGvYA" class="commentsThumb" width="60" height="45"></a></div>
					<div style="font-size: 10px; text-align: center;"><a href="watch.php?v=OSAaOEOGvYA">Related Video</a></div>
					</td><td style="font-size: 11px;">
					"hmmm ...try this"<br>
 - <a href="profile.php?user=COBALTGRUV">COBALTGRUV</a> // <a href="profile_videos.php?user=COBALTGRUV">Videos</a> (13) | <a href="profile_favorites.php?user=COBALTGRUV">Favorites</a> (13) | <a href="profile_friends.php?user=COBALTGRUV">Friends</a> (2) - (17 days, 4 hours, 7 minutes ago)					</td></tr>
					</tbody></table>

					</div><div class="commentsEntry">"Wow, that was amazing skills!  I absolutely suck at that game!  You my friend, are a coin master."<br>
 - <a href="profile.php?user=MessyMurder">MessyMurder</a> // <a href="profile_videos.php?user=MessyMurder">Videos</a> (7) | <a href="profile_favorites.php?user=MessyMurder">Favorites</a> (0) | <a href="profile_friends.php?user=MessyMurder">Friends</a> (1) - (17 days, 10 hours, 24 minutes ago)</div><div class="commentsEntry">"OMG!!!11 this is liek awesome11!"<br>
 - (17 days, 18 hours, 57 minutes ago)</div><div class="commentsEntry">"congratulations!"<br>
 - (17 days, 19 hours, 14 minutes ago)</div><div class="commentsEntry">"awesome dud -:)"<br>
 - (17 days, 21 hours, 53 minutes ago)</div><div class="commentsEntry">"I guess it beats molesting kittens"<br>
 - (18 days, 2 hours, 43 minutes ago)</div><div class="commentsEntry">"So this is where my federal withholding goes! No way does this guy have a real job!"<br>
 - (18 days, 2 hours, 51 minutes ago)</div><div class="commentsEntry">"fuck off u haters. this guy is very talented. i know him and he has written and produced many films your shit ass motherfuckers couldnt even be capable of doing. so give him props or shut your fucken mouth cos this is 100% real. -Maury"<br>
 - (18 days, 3 hours, 20 minutes ago)</div><div class="commentsEntry">"fuck off u haters. this guy is very talented. i know him and he has written and produced many films your shit ass motherfuckers couldnt even be capable of doing. so give him props or shut your fucken mouth cos this is 100% real. -Maury"<br>
 - (18 days, 3 hours, 21 minutes ago)</div><div class="commentsEntry">"i thought coins were made for buying gum. thats too stupid"<br>
 - (18 days, 9 hours, 33 minutes ago)</div><div class="commentsEntry">"Big deal. Back in college (the early 90's) I used to trick shoot quarters using the roll method (bouncing the quarter on its edge)and totally intoxicated."<br>
 - (18 days, 13 hours, 51 minutes ago)</div><div class="commentsEntry">"Lets castrate him"<br>
 - (19 days, 4 hours, 4 minutes ago)</div><div class="commentsEntry">
					<table cellspacing="0" cellpadding="0" border="0">
					<tbody><tr valign="top">
					<td width="80">
					<div style="float: left;"><a href="watch.php?v=NO0OndxSr0M"><img src="get_still.php?video_id=NO0OndxSr0M" class="commentsThumb" width="60" height="45"></a></div>
					<div style="font-size: 10px; text-align: center;"><a href="watch.php?v=NO0OndxSr0M">Related Video</a></div>
					</td><td style="font-size: 11px;">
					"Watch this video to the left guys, it's hilarious."<br>
 - <a href="profile.php?user=jawed">jawed</a> // <a href="profile_videos.php?user=jawed">Videos</a> (69) | <a href="profile_favorites.php?user=jawed">Favorites</a> (174) | <a href="profile_friends.php?user=jawed">Friends</a> (28) - (19 days, 16 hours, 18 minutes ago)					</td></tr>
					</tbody></table>

					</div><div class="commentsEntry">"computer animation.....are you guys blind?"<br>
 - (19 days, 19 hours, 46 minutes ago)</div><div class="commentsEntry">"crazy sh1t there"<br>
 - (19 days, 20 hours, 28 minutes ago)</div><div class="commentsEntry">"nEERRRddd!!!!"<br>
 - (19 days, 20 hours, 33 minutes ago)</div><div class="commentsEntry">"OMG, what a nerd, it's just like a little boy from 6 year old, don't he have nothing else fun to do, i bet he's lonely!"<br>
 - (19 days, 20 hours, 59 minutes ago)</div><div class="commentsEntry">"FAKE!"<br>
 - (19 days, 21 hours, 55 minutes ago)</div><div class="commentsEntry">"What a loser."<br>
 - (20 days, 3 hours, 11 minutes ago)</div><div class="commentsEntry">"fucking insane."<br>
 - (20 days, 3 hours, 17 minutes ago)</div><div class="commentsEntry">"God damn that's fucking insane.  It's so useless, yet impressive."<br>
 - (20 days, 4 hours, 22 minutes ago)</div><div class="commentsEntry">"fucking pointless, that dude should kill his parents then  put a bullet in his skull."<br>
 - (20 days, 6 hours, 8 minutes ago)</div><div class="commentsEntry">"fucking pointless, that dude should kill his parents then  put a bullet in his skull."<br>
 - (20 days, 6 hours, 8 minutes ago)</div><div class="commentsEntry">"wow This guy really should be Televised...SOON<br>
cmon' that shit WAS AWESOME!!!!!!!!!!!!........."<br>
 - (20 days, 7 hours, 51 minutes ago)</div><div class="commentsEntry">"fucking awsome!"<br>
 - (20 days, 13 hours, 28 minutes ago)</div><div class="commentsEntry">"BWHAHAHAH. not bad, but check out my videos!!! click on my name!"<br>
 - <a href="profile.php?user=tinkerer42">tinkerer42</a> // <a href="profile_videos.php?user=tinkerer42">Videos</a> (18) | <a href="profile_favorites.php?user=tinkerer42">Favorites</a> (5) | <a href="profile_friends.php?user=tinkerer42">Friends</a> (1) - (20 days, 16 hours, 0 minutes ago)</div><div class="commentsEntry">"Haha. Awesome. You've got skills."<br>
 - (20 days, 19 hours, 36 minutes ago)</div><div class="commentsEntry">"Meet me behind the barn. I will give you a long ride. <br>
- gayhorse"<br>
 - (20 days, 23 hours, 36 minutes ago)</div><div class="commentsEntry">"FFS yea that is awesome, but I do want to know how many hours it took to make that whole video"<br>
 - (21 days, 1 hour, 22 minutes ago)</div><div class="commentsEntry">"For fucks sake!"<br>
 - (21 days, 2 hours, 2 minutes ago)</div><div class="commentsEntry">"you are a god among gods."<br>
 - (21 days, 4 hours, 36 minutes ago)</div><div class="commentsEntry">"how can you tell? re: one that bounces out of the glass then into another glass. he's even got it in slow motion and playing backwards! he seems to stretch out his hand to catch it indicating that it probably took a lot of attempts before he was able to get it just right."<br>
 - <a href="profile.php?user=tunafat">tunafat</a> // <a href="profile_videos.php?user=tunafat">Videos</a> (12) | <a href="profile_favorites.php?user=tunafat">Favorites</a> (14) | <a href="profile_friends.php?user=tunafat">Friends</a> (2) - (21 days, 4 hours, 56 minutes ago)</div><div class="commentsEntry">"The one that bounces out of the glass then into another glass is bullshit. He's haxing :P"<br>
 - (21 days, 5 hours, 56 minutes ago)</div><div class="commentsEntry">"I just can't decide... are these guys awesome or pathetic?"<br>
 - (21 days, 6 hours, 10 minutes ago)</div><div class="commentsEntry">"Lots of skills or lack of social life much?<br>
lol"<br>
 - (21 days, 6 hours, 14 minutes ago)</div><div class="commentsEntry">"Damn! Great aim! I bet no one ever wants to play darts against you."<br>
 - <a href="profile.php?user=cabmobile">cabmobile</a> // <a href="profile_videos.php?user=cabmobile">Videos</a> (3) | <a href="profile_favorites.php?user=cabmobile">Favorites</a> (7) | <a href="profile_friends.php?user=cabmobile">Friends</a> (7) - (21 days, 6 hours, 32 minutes ago)</div><div class="commentsEntry">"cool... but what a USELESS skill"<br>
 - (21 days, 7 hours, 43 minutes ago)</div><div class="commentsEntry">"massive"<br>
 - (21 days, 9 hours, 5 minutes ago)</div><div class="commentsEntry">"these guys need psychological help"<br>
 - (21 days, 9 hours, 34 minutes ago)</div><div class="commentsEntry">"lame, this guy needs to get a life - entensity.net"<br>
 - (21 days, 11 hours, 3 minutes ago)</div><div class="commentsEntry">"How many hours did you spend on that? ;D"<br>
 - (21 days, 13 hours, 50 minutes ago)</div><div class="commentsEntry">"hmmmm"<br>
 - <a href="profile.php?user=COBALTGRUV">COBALTGRUV</a> // <a href="profile_videos.php?user=COBALTGRUV">Videos</a> (13) | <a href="profile_favorites.php?user=COBALTGRUV">Favorites</a> (13) | <a href="profile_friends.php?user=COBALTGRUV">Friends</a> (2) - (21 days, 14 hours, 13 minutes ago)</div><div class="commentsEntry">"Too much spare time!"<br>
 - (21 days, 15 hours, 43 minutes ago)</div><div class="commentsEntry">"Ejj de ráér..."<br>
 - (21 days, 17 hours, 22 minutes ago)</div><div class="commentsEntry">"yes, thats hard..<br>
(greez from Germany ^^)"<br>
 - (21 days, 20 hours, 5 minutes ago)</div><div class="commentsEntry">"how fubar u gotta be..."<br>
 - (21 days, 20 hours, 37 minutes ago)</div><div class="commentsEntry">"DUDE.  JESUS."<br>
 - (21 days, 22 hours, 44 minutes ago)</div><div class="commentsEntry">"Go look a life....fat chi chi man"<br>
 - (21 days, 23 hours, 10 minutes ago)</div><div class="commentsEntry">"oh my god.  how many attempts on that across-the-room shot??"<br>
 - <a href="profile.php?user=tunafat">tunafat</a> // <a href="profile_videos.php?user=tunafat">Videos</a> (12) | <a href="profile_favorites.php?user=tunafat">Favorites</a> (14) | <a href="profile_friends.php?user=tunafat">Friends</a> (2) - (21 days, 23 hours, 40 minutes ago)</div><div class="commentsEntry">"Fantastic¡¡, en España este no pagaba uan ronda saludos desde lupas-girls"<br>
 - (21 days, 23 hours, 54 minutes ago)</div><div class="commentsEntry">"You suck"<br>
 - (22 days, 8 hours, 11 minutes ago)</div><div class="commentsEntry">"Quarters king i say! holy fucktacular!"<br>
 - (22 days, 10 hours, 37 minutes ago)</div><div class="commentsEntry">"wow dude this is insane O_O"<br>
 - (22 days, 20 hours, 39 minutes ago)</div><div class="commentsEntry">"You would be seriously drunk if you did"<br>
 - <a href="profile.php?user=larfus">larfus</a> // <a href="profile_videos.php?user=larfus">Videos</a> (41) | <a href="profile_favorites.php?user=larfus">Favorites</a> (7) | <a href="profile_friends.php?user=larfus">Friends</a> (0) - (22 days, 23 hours, 59 minutes ago)</div><div class="commentsEntry">"i am NOT playing quarters with that guy!"<br>
 - (23 days, 4 hours, 47 minutes ago)</div>		
		</td>
		<td width="280">
		
				
		<table width="280" cellspacing="0" cellpadding="0" border="0" bgcolor="#CCCCCC" align="center">
			<tbody><tr>
				<td><img src="img/box_login_tl.gif" width="5" height="5"></td>
				<td><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
				<td width="270">
				<div class="moduleTitleBar">
				<table width="270" cellspacing="0" cellpadding="0" border="0">
					<tbody><tr valign="top">
						<td><div class="moduleFrameBarTitle"><!-- Tag // coin dexterity tricks -->Related Videos (23)</div></td>
						<td align="right"><div style="font-size: 11px; margin-right: 5px;"><a href="results.php?&amp;search=coin+dexterity+tricks" target="_parent">Results Page</a></div></td>
					</tr>
				</tbody></table>
				</div>

				<iframe id="side_results" name="side_results" src="include_results.php?v=EiBBudoC5iQ&amp;search=coin+dexterity+tricks#selected" scrolling="auto" marginheight="0" marginwidth="0" width="270" height="400" frameborder="0">
				 [Content for browsers that don't support iframes goes here]
				</iframe>
				</td>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table><br>

		<table width="280" cellspacing="0" cellpadding="0" border="0" bgcolor="#EEEEDD" align="center">
			<tbody><tr>
				<td><img src="img/box_login_tl.gif" width="5" height="5"></td>
				<td><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
				<td width="270">
				
				<div style="padding: 2px 5px 10px 5px;">
				<div style="font-size: 14px; font-weight: bold; margin-bottom: 8px; color: #666633;">Who's On Now...</div>
				
                
					<div style="font-size: 12px; font-weight: bold; margin-bottom: 5px;"><a href="profile.php?user=chhnny">chhnny</a></div>

					<div style="font-size: 12px; margin-bottom: 8px; padding-bottom: 10px; border-bottom: 1px dashed #CCCC66;"><a href="profile_videos.php?user=chhnny"><img src="img/icon_vid.gif" alt="Videos" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_videos.php?user=chhnny">1</a>)
					 | <a href="profile_favorites.php?user=chhnny"><img src="img/icon_fav.gif" alt="Favorites" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_favorites.php?user=chhnny">2</a>)
					 | <a href="profile_friends.php?user=chhnny"><img src="img/icon_friends.gif" alt="Friends" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_friends.php?user=chhnny">1</a>)</div>

					
					<div style="font-size: 12px; font-weight: bold; margin-bottom: 5px;"><a href="profile.php?user=thegorkster">thegorkster</a></div>

					<div style="font-size: 12px; margin-bottom: 8px; padding-bottom: 10px; border-bottom: 1px dashed #CCCC66;"><a href="profile_videos.php?user=thegorkster"><img src="img/icon_vid.gif" alt="Videos" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_videos.php?user=thegorkster">1</a>)
					 | <a href="profile_favorites.php?user=thegorkster"><img src="img/icon_fav.gif" alt="Favorites" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_favorites.php?user=thegorkster">0</a>)
					 | <a href="profile_friends.php?user=thegorkster"><img src="img/icon_friends.gif" alt="Friends" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_friends.php?user=thegorkster">0</a>)</div>

					
					<div style="font-size: 12px; font-weight: bold; margin-bottom: 5px;"><a href="profile.php?user=mar46017">mar46017</a></div>

					<div style="font-size: 12px; margin-bottom: 8px; padding-bottom: 10px; border-bottom: 1px dashed #CCCC66;"><a href="profile_videos.php?user=mar46017"><img src="img/icon_vid.gif" alt="Videos" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_videos.php?user=mar46017">0</a>)
					 | <a href="profile_favorites.php?user=mar46017"><img src="img/icon_fav.gif" alt="Favorites" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_favorites.php?user=mar46017">0</a>)
					 | <a href="profile_friends.php?user=mar46017"><img src="img/icon_friends.gif" alt="Friends" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_friends.php?user=mar46017">0</a>)</div>

					
					<div style="font-size: 12px; font-weight: bold; margin-bottom: 5px;"><a href="profile.php?user=elnathanshee">elnathanshee</a></div>

					<div style="font-size: 12px; margin-bottom: 8px; padding-bottom: 10px; border-bottom: 1px dashed #CCCC66;"><a href="profile_videos.php?user=elnathanshee"><img src="img/icon_vid.gif" alt="Videos" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_videos.php?user=elnathanshee">0</a>)
					 | <a href="profile_favorites.php?user=elnathanshee"><img src="img/icon_fav.gif" alt="Favorites" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_favorites.php?user=elnathanshee">0</a>)
					 | <a href="profile_friends.php?user=elnathanshee"><img src="img/icon_friends.gif" alt="Friends" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"></a> (<a href="profile_friends.php?user=elnathanshee">0</a>)</div>

									
				<div style="font-weight: bold; margin-bottom: 5px;">Icon Key:</div>
				<div style="margin-bottom: 4px;"><img src="img/icon_vid.gif" alt="Videos" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"> - Videos</div>
				<div style="margin-bottom: 4px;"><img src="img/icon_fav.gif" alt="Favorites" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"> - Favorites</div>
				<img src="img/icon_friends.gif" alt="Friends" style="vertical-align: text-bottom; padding-left: 2px; padding-right: 1px;" width="14" height="14" border="0"> - Friends

				</div>
				
				</td>
				<td><img src="img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="img/pixel.gif" width="1" height="5"></td>
				<td><img src="img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>
		
		<div style="font-weight: bold; color: #333; margin: 10px 0px 5px 0px;">Related Tags:</div>
		<div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=tricks">tricks</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=soccer">soccer</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=rasmus">rasmus</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=trick">trick</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=dog">dog</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=stunt">stunt</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=crazy">crazy</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=skill">skill</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=puppy">puppy</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=magic">magic</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=COBALT">COBALT</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=modern">modern</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=romance">romance</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=FLIPS">FLIPS</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=freestyle">freestyle</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=STUNTS">STUNTS</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=crotch">crotch</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=backflips">backflips</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=mryan">mryan</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=aerobatic">aerobatic</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=sukhoi">sukhoi</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=airplane">airplane</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=pool">pool</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=snowmobile">snowmobile</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=jumping">jumping</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=horse">horse</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=funny">funny</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=raunchy">raunchy</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=dexterity">dexterity</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=surf">surf</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=skills">skills</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=cool">cool</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=skate">skate</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=apple">apple</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=coins">coins</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=amazing">amazing</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=play">play</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=nikolaj">nikolaj</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=backflip">backflip</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=house">house</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=grocery">grocery</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=coin">coin</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=sprout">sprout</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=chihuahua">chihuahua</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=levitate">levitate</a></div><div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search=store">store</a></div>
		</td>
	</tr>
</tbody></table>

<iframe id="invisible" name="invisible" src="" scrolling="yes" marginheight="0" marginwidth="0" width="0" height="0" frameborder="0"></iframe>   
{% endblock %}