<html>
	<head>
		<title>CleberTube</title>
		<link rel="stylesheet" href="img/poktube.css" type="text/css">
	</head>
	<body>
		<table class="header1" style="padding: 5px 0px 0px 0px;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#0049C7">
			<tbody>
				<tr valign="top">
					<td rowspan="2" style="padding: 0px 5px 5px 5px;" width="130">
						<a href="index.php"><img src="img/logo.png" alt="CleberTube" border="0"></a>
					</td>
					<td valign="top">
						<table width="100%" cellspacing="0" cellpadding="0" border="0" align="right">
							<tbody>
								<tr valign="top">
									<td class="headertext" style="padding: 0px 5px 0px 5px; font-style: italic;" align="left">Upload, tag and share your works worldwide!</td>
									<td align="right">
										<table cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													{% if loggedIn %}
														<td>Hello,
															<a class="headertext" href="profile.php?user={{ userData.name }}">{{ userData.name }}</a>!&nbsp;
															<img src="/img/mail.gif" border="0" valign="top">&nbsp;(<a class="headertext" href="/my_messages.php">0</a>)</td>
														<td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
														<td>
															<a class="headertext" href="logout.php">Log Out</a>
														</td>
														<td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
														<td>
															<a class="headertext" href="help.php">Help</a>
														</td>
														<td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
														<td style="padding-right: 5px;">
															<a href="admin.php" style="color: red">Admin</a>
														</td>
													{% else %}
														<td>
															<a class="headertext" href="signup.php">
																<strong>Sign Up</strong>
															</a>
														</td>
														<td style="padding: 0px 5px 0px 5px;">|</td>
														<td>
															<a class="headertext" href="login.php">Log In</a>
														</td>
														<td style="padding: 0px 5px 0px 5px;">|</td>
														<td style="padding-right: 5px;">
															<a class="headertext" href="help.php">Help</a>
														</td>
													{% endif %}
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td
						width="100%">

						<!--&nbsp;//&nbsp; <a href="browse.php">Browse</a>-->

						<table cellspacing="0" cellpadding="2" border="0">
							<tbody>
								<tr>
									<form method="GET" action="results.php"></form>
									<td>
										<input type="text" value="" name="search" size="30" maxlength="128" style="color:#e67402; font-size: 14px; padding: 2px;">
									</td>
									<td>
										<input class="button" type="submit" value="Search">
									</td>

								</tr>
							</tbody>
						</table>

					</td>
				</tr>


			</tbody>
		</table>

		<table class="header2" style="margin: 0px 0px 10px 0px;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#3C3C3C" align="center">
			<tbody>
				<tr>
					<td><img src="img/pixel.gif" width="1" height="5"></td>
				</tr>
				<tr>
					<td><img src="img/pixel.gif" width="5" height="1"></td>

					<td width="100%">

						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td>
										<table cellspacing="0" cellpadding="2" border="0">
											<tbody>
												<tr>
													<td>&nbsp;<a class="headertext" href="index.php">Home</a>
													</td>
													<td>&nbsp;|&nbsp;</td>
													<td>
														<a class="headertext" href="my_profile.php">Settings</a>
													</td>
													<td>&nbsp;|&nbsp;</td>
													<td>
														<a class="headertext" href="browse.php">Browse</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>

					</td>

					<td><img src="img/pixel.gif" width="5" height="1"></td>
				</tr>
				<tr>
					<td><img src="img/pixel.gif" width="1" height="5"></td>
				</tr>
			</tbody>
		</table>

		<table width="800" cellspacing="0" cellpadding="0" border="0" align="center">
			<tbody>
				<tr>
					<td style="padding-bottom: 25px;" bgcolor="#FFFFFF">
						<div style="padding: 0px 5px 0px 5px;">
						{% block content %}{% endblock %}
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<table cellspacing="0" cellpadding="10" border="0" align="center">
			<tbody>
				<tr>
					<td valign="center" align="center">
						<span class="footer">
							<a href="#">What's New</a>
							|
							<a href="#">About Us</a>
							|
							<a href="help.php">Help</a>
							|
							<a href="#">Developers</a>
							|
							<a href="terms.php">Terms of Use</a>
							|
							<a href="#">Privacy Policy</a>
							<br>
							<br>
							<img src="/img/chaziz.png">
							<br>
							Copyright © 2021-2024 Bluffingo</span>
					</td>
				</tr>
			</tbody>
		</table>

	</body>
</html>
