{% extends "components/template.twig" %}

{% block content %}
<table class="tableBg" width="800" cellspacing="1" cellpadding="4" align="center">
    <tbody>
        <tr class="titleBg">
            <td colspan="2">
				Migrate your old account
            </td>
        </tr>
        <tr>
            <td class="contentBg">
                <div class="center">
                    <img src="/img/migrate.gif">
                </div>
                <table class="migrateLayout" cellspacing="4">
                    <tbody>
                        <tr valign="top">
                            <td width="600">
                                <div>
                                <p>Type in your squareBracket/old Qobo credentials, and we'll seamlessly bring your old account's contents over to here.</p>
                                <p>
                                    Please note that:
                                    <ul>
                                        <li>Content that do not abide with Qobo's new guidelines will not brought over.</li>
                                        <li>You can migrate multiple old accounts onto your new account.</li>
                                        <li>You have until [placeholder] to do so.</li>
                                    </ul>
                                </p>
                                </div>
                            </td>
                            <td width="200">
                                <div>
                                    <form method="post" action="migrate.php">
                                        <div class="input">
                                            <div class="label">Username:</div>
                                            <input type="text" maxlength="60" name="field_migrate_username" value="">
                                        </div>

                                        <div class="input">
                                            <div class="label">Password:</div>
                                            <input type="password" maxlength="50" name="field_migrate_password" value="">
                                        </div>

                                        <input type="submit" value="Sign In">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
