{% extends "components/template.twig" %}

{% block content %}
<table class="profileLayout" width="800" cellspacing="5" height="100">
    <tbody>
        <tr valign="top">
            <td width="200" align="center">
                <div>
                    <div class="profileTitle">{{ profile.name }}</div>
                    <img src="/img/avatar.png" width="96" class="avatar">
                </div>
            </td>
            <td>
                <div>
                    <h1>About this user</h1>
                    <hr>
                    <p>
                        Placeholder.
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
