{% extends "components/template.twig" %}

{% block content %}
<table class="tableBg" width="400" cellspacing="1" cellpadding="4" align="center">
    <tbody>
        <tr class="titleBg">
            <td colspan="2">
				Sign up on Qobo
            </td>
        </tr>
        <tr>
            <td class="contentBg">
				<form method="post" action="signup.php">
				<input type="hidden" name="field_command" value="signup_submit">
				<div class="input">
					<div class="label">Email:</div>
					<input type="text" size="30" maxlength="60" name="field_signup_email" value="">
				</div>
				<div class="input">
					<div class="label">Username:</div>
					<input type="text" size="30" maxlength="60" name="field_signup_username" value="">
				</div>
				<div class="input">
					<div class="label">Password:</div>
					<input type="password" size="30" maxlength="50" name="field_signup_password_1" value="">
				</div>
				<div class="input">
					<div class="label">Password (retype):</div>
					<input type="password" size="30" maxlength="50" name="field_signup_password_2" value="">
				</div>

				<input type="submit" value="Sign Up">
				</form>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
