{% extends "components/template.twig" %}

{% block content %}
<h1>Upload</h1>

<form method="post" action="upload.php">
<p>Placeholder</p>

<input type="submit" value="Upload">
</form>
{% endblock %}
