{% extends "components/template.twig" %}

{% block content %}
<table class="submissionLayout" width="800" cellspacing="5">
    <tbody>
        <tr valign="top">
            <td width="500">
                <div>
                    {% if submission.type == "video" %}
                    <video src="/dynamic/qobo_test.mp4" controls> {# TODO: placeholder #}
                        <span>Your browser doesn't support the HTML5 video tag or Macromedia Flash.</span>
                    </video>
                    {% endif %}
                </div>
            </td>
            <td width="300">
                <div>
                    <h2 class="submissionTitle">{{ submission.title }}</h2>
                    <div class="submissionDescription">
                        <span>By: <a href="/profile.php?user=Username">Username</a></span>
                        <br>
                        <span>Posted: {{ submission.published | qobo_date('F j, Y') }}</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
