 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Qobo.TV</title>
        <link rel="stylesheet" href="img/qobo.css" type="text/css">
    </head>
    <body>
        <table width="800" cellspacing="2" cellpadding="0" border="0" align="center">
            <tbody>
                <tr>
                    <td>
                        <table width="800" height="50" cellspacing="5" cellpadding="0" border="0" class="header">
                            <tr>
                                <td width="129">
                                    <div>
                                        <a href="/"><img class="headerLogo" src="/img/qobo.png" alt="Qobo.TV Preview" width="129"></img></a>
                                    </div>
                                </td>
                                <td valign="center">
                                    <div>
                                        <form action="/search.php">
                                            <input type="text" name="search">
                                            <input type="submit" value="Search">
                                        </form>
                                    </div>
                                </td>
                                <td align="right">
                                    <div class="headerLinks alignedRight">
                                        {% if loggedIn %}
                                            <a href="profile.php?user={{ userData.name }}">{{ userData.name }}</a>
                                            <a href="/upload.php">Upload</a>
                                            <a href="/signout.php">Sign out</a>
                                        {% else %}
                                            <a href="/signin.php">Sign in</a>
                                            <a href="/signup.php">Sign up</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                        {% block content %}{% endblock %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="footer">
                            © 2004 Bittoco
                            |
                            <a href="/guidelines.php">Guidelines</a>
                            |
                            <a href="/help.php">Help</a>
                            |
                            <a href="/privacy.php">Privacy</a>
                            <br><br>
                            {# it should've pointed towards macromedia.com/go/getflashplayer, but it leads to a page on macromedia's site
                            that likely worked by detecting the user agent server-side, so the wayback archive is broken. #}
                            <a href="{{ wayback_url("http://www.macromedia.com/shockwave/download/alternates/") }}">
                                <img src="/img/buttons/get_flash_player.gif">
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
