<html>
    <head>
        <title>Qobo.TV</title>
        <link rel="stylesheet" href="img/qobo.css" type="text/css">
    </head>
    <body>
        <table width="800" cellspacing="2" cellpadding="0" border="0" align="center">
            <tbody>
                <tr>
                    <td>
                        <table width="800" height="50" cellspacing="5" cellpadding="0" border="0" class="headerOne">
                            <tr>
                                <td width="129">
                                    <div>
                                        <img src="/img/qobo.png" alt="Qobo.TV Preview" width="129"></img>
                                    </div>
                                </td>
                                <td valign="center">
                                    <div>
                                        <form action="/search.php">
                                            <input type="text" name="search">
                                            <input type="submit" value="Search">
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="800" height="20" cellspacing="5" cellpadding="0" border="0" class="headerTwo">
                            <tr>
                                <td align="left">
                                    <div class="headerLinks alignedLeft">
                                        <a href="/">Home</a>
                                        <a href="/browse.php">Browse</a>
                                    </div>
                                </td>
                                <td align="right">
                                    <div class="headerLinks alignedRight">
                                        {% if loggedIn %}
                                            <a href="profile.php?user={{ userData.name }}">{{ userData.name }}</a>
                                            <a href="/signout.php">Sign out</a>
                                        {% else %}
                                            <a href="/signin.php">Sign in</a>
                                            <a href="/signup.php">Sign up</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                        {% block content %}{% endblock %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="footer">
                            © Bittoco
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
