{% extends "components/template.twig" %}

{% block content %}
<table class="tableBg" width="400" cellspacing="1" cellpadding="4" align="center">
    <tbody>
        <tr class="titleBg">
            <td>
				Upload
            </td>
        </tr>
        <tr>
            <td class="contentBg">
                <form method="post" action="upload.php" id="upload_form">
                <div class="input">
                    <div class="label">Title:</div>
                    <input type="text" maxlength="128" name="field_upload_title" value="">
                </div>

                <div class="input">
                    <div class="label">Tags:</div>
                    <input type="text" maxlength="1024" name="field_upload_tags" value="">
                </div>

                <div class="input">
                    <div class="label">Description:</div>
                    <textarea name="field_upload_description" rows="4" cols="80"></textarea>
                </div>

                <div class="input">
                    <div class="label">File:</div>
                    <input type="file" name="field_upload_file"/>
                </div>

                <div class="input">
                    <div class="label">Category:</div>
                    <select id="category" form="upload_form">
                    <option value="video">Video</option>
                    <option value="image">Image</option>
                    <option value="music">Music</option>
                    <option value="flash">Flash</option>
                    </select>
                </div>

                <input type="submit" value="Upload">
                </form>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
