<!DOCTYPE html>
<html lang="en">
    <head>
        <title>squareBracket DEV</title>
        <link rel="stylesheet" href="img/biscuit.css" type="text/css">
    </head>
    <body>
        <div class="headers">
            <div class="header">
                <div class="header-container">
                Placeholder!!!
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer">
            <div class="footer-container">
                <img src="/img/squarebracket.png" alt="squareBracket Logo">
                <p>© <a href="https://bluffingo.net/">Chaziz</a> 2021-{{ 'now' | date('Y') }}, <a href="https://bittoco.eu.org/">Bittoco</a> 2024
                <span aria-hidden="true">|</span> <a href="/privacy">Privacy policy</a></p>
            </div>
        </footer>
    </body>
</html>
